<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="blocks/styles :: styles"></div>
</head>
<body th:each="el : ${post}">
<header th:insert="blocks/header :: header"></header>
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1 th:text="${el.brand}"></h1>
                <nav class="d-flex align-items-center">
                    <a href="index">Главная<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">Каталог</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!--================Single Product Area =================-->
<div class="product_image_area">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6">
                <div class="s_Product_carousel">
                    <div class="single-prd-item" th:each="pic : ${pics}">
                        <img class="img-fluid" alt="" th:src="${pic.url}">
                    </div>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text" th:switch="${el.issale}">
                    <h3 th:text="${el.brand}"></h3>
                    <h2 th:case="0" th:text="${el.cost} + ' ' + 'Br'"></h2>
                    <h2 th:case="1" th:text="${el.cost - 40} + ' ' + 'Br'"></h2>
                    <ul class="list">
                        <li>Категория: <a class="active" href="#" th:text="${el.type}"><span>Категория : </span></a></li>
                        <li>Размерный ряд: <a class="active" href="#" th:text="${el.sizes}"><span>Категория : </span></a></li>
                        <li>Цвет: <a class="active" href="#" th:text="${el.color}"><span>Категория : </span></a></li>
                        <li th:switch="${el.istock}">
                            <a href="#" th:case="0"><span>Наличие : </span>Нет в наличии, ожидается поставка</a>
                            <a href="#" th:case="1"><span>Наличие : </span>В наличии</a>
                        </li>
                    </ul>
                    <p th:text="${el.description}"></p>
                    <div class="card_area d-flex align-items-center">
                        <form action="/cart/addsneakers" method="post">
                            <a onclick="this.form.submit()" class="social-info">
                                <input type="hidden" name="idsneaker" th:value="${el.id}">
                                <input type="submit" class="primary-btn" value="Добавить в корзину" style="background-color:transparent; border:0; width:200px; padding:0;">
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================End Single Product Area =================-->

<!--================Product Description Area =================-->
<section class="product_description_area">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Описание</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review"
                   aria-selected="false">Отзывы</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                <p th:text="${el.description}"></p>
            </div>
            <div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
                <div class="row">
                    <div class="col-lg-6" >
                        <div class="row total_rate" th:if="${revAmount} != 0">
                            <div class="col-6" >
                                <div class="box_total">
                                    <h5>Рейтинг</h5>
                                    <h4 th:text="${avgMark.substring(0,3)}"></h4>
                                    <h6 th:text="'Всего отзывов' + ' ' + ${revAmount}"></h6>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="rating_list">
                                    <h3 th:text="'Основано на ' + ' ' + ${revAmount} + ' отзывах'"></h3>
                                    <ul class="list">
                                        <li><a>5 Звёзд <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star" th:text="${fives}"></i></a></li>
                                        <li><a href="#">4 Звезды <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star" th:text="${fours}"></i></a></li>
                                        <li><a href="#">3 Звезды <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star" th:text="${three}"></i></a></li>
                                        <li><a href="#">2 Звезды <i class="fa fa-star"></i><i class="fa fa-star" th:text="${two}"></i></a></li>
                                        <li><a href="#">1 Звезда <i class="fa fa-star" th:text="${one}"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row total_rate" th:if="${revAmount} == 0">
                            <div class="col-6" >
                                <div class="box_total">
                                    <h5>Рейтинг</h5>
                                    <h4>X</h4>
                                    <h6>Оставьте первый отзыв!</h6>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="rating_list">
                                    <h3>Ещё нет отзывов на модель</h3>
                                </div>
                            </div>
                        </div>
                        <div class="review_list" th:if="${revAmount == 0}">
                            <div class="review_item">
                                <p>Ваш отзыв будет первым!</p>
                            </div>
                        </div>
                        <div class="review_list" th:if="${revAmount > 0}" th:each="rev : ${reviews}">
                            <div class="review_item">
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="/img/product/review-1.png" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h4 th:text="${rev.name}"></h4>
                                        <i class="fa fa-star" th:each="i: ${#numbers.sequence(1, rev.mark)}"></i>
                                    </div>
                                </div>
                                <p th:text="${rev.review}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="review_box">
                            <h4>Добавьте отзыв</h4>
                            <form class="row contact_form" action="/review/add" method="post" id="contactForm" novalidate="novalidate">
                            <div class="single-element-widget mt-30">
                                <h3 class="mb-30">Оцените модель</h3>
                                <div class="default-select" id="default-select">
                                    <select name="mark">
                                        <option value="5">5</option>
                                        <option value="4">4</option>
                                        <option value="3">3</option>
                                        <option value="2">2</option>
                                        <option value="1">1</option>
                                    </select>
                                </div>
                            </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="hidden" th:value="${id}" class="form-control" id="idsneaker" name="sneakerid" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group"  style="margin-top: 5px">
                                        <input type="text" class="form-control" id="name" name="name" placeholder="Ваше имя" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ваше имя'">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea class="form-control" name="message" id="message" rows="1" placeholder="Отзыв" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Отзыв'"></textarea></textarea>
                                    </div>
                                </div>

                                <div class="col-md-12 text-right">
                                    <button type="submit" value="submit" class="primary-btn">Отправить</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer th:insert="blocks/footer :: footer"></footer>

<div th:insert="blocks/jsscripts :: scripts"></div>

</body>
</html>