<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="blocks/styles :: styles"></div>
</head>
<body>
<header th:insert="blocks/headera :: header"></header>
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Добавьте новые аксессуары</h1>
                <nav class="d-flex align-items-center">
                    <a href="single-product">Надеюсь это будет что-то эксклюзивное!</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="/img/login.jpg" alt="">
                    <div class="hover">
                        <h4>Поступление новых аксессуаров!</h4>
                        <p>Заполните форму и разместите на сайте ещё больше новых аксессуаров</p>
                        <a class="primary-btn" href="/accessories/1?sortField=id&keyword=0">Аксессуары</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner" style="padding-bottom:50px; padding-top:50px">
                    <h3>Новые штучки? Вау!</h3>
                    <form class="row login_form" action="/accessories/addnew" method="post" id="contactForm" novalidate="novalidate">
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="name" name="type" placeholder="Тип" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Тип'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="name" name="brand" placeholder="Бренд" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Бренд'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Название аккса" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Название аккса'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="name" name="pic" placeholder="Картинка" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Картинка'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="name" name="pictwo" placeholder="Картинка 2" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Картинка 2'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="name" name="color" placeholder="Цвет" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Цвет'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="name" name="description" placeholder="Описание" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Описание'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="name" name="cost" placeholder="Цена" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Цена'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="name" name="istock" placeholder="Наличие" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Наличие'">
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="primary-btn">Добавить аксессуар</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<footer th:insert="blocks/footer :: footer"></footer>

<div th:insert="blocks/jsscripts :: scripts"></div>

</body>
</html>